In [ ]:
# pip section

!pip install pandas --quiet

In [ ]:
!pip install plotly matplotlib seaborn --quiet

In [ ]:
!pip install scikit-learn --quiet

# LINEAR REGRESSION AND STOCHASTIC GRADIENT DESCENT

In [ ]:
# imports

from urllib.request import urlretrieve
import pandas as pd
import numpy as np

In [ ]:
import plotly.express as px
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
medical_charges_url = 'https://raw.githubusercontent.com/JovianML/opendatasets/master/data/medical-charges.csv'
urlretrieve(medical_charges_url, 'medical.csv')

In [ ]:
medical_df = pd.read_csv('medical.csv')

In [ ]:
# Analysis

medical_df.info()
medical_df.describe()

In [ ]:
sns.set_style('darkgrid')
matplotlib.rcParams['font.size'] = 14
matplotlib.rcParams['figure.figsize'] = (10, 6)
matplotlib.rcParams['figure.facecolor'] = '#00000000'

In [ ]:
fig = px.histogram(medical_df, 
                   x='age', 
                   marginal='box', 
                   nbins=47, 
                   title='Distribution of Age')
fig.update_layout(bargap=0.1)
fig.show()

In [ ]:
fig = px.histogram(medical_df, 
                   x='bmi', 
                   marginal='box', 
                   color_discrete_sequence=['red'], 
                   title='Distribution of BMI (Body Mass Index)')
fig.update_layout(bargap=0.1)
fig.show()

In [ ]:
fig = px.histogram(medical_df, 
                   x='charges', 
                   marginal='box', 
                   color='smoker', 
                   color_discrete_sequence=['green', 'grey'], 
                   title='Annual Medical Charges')
fig.update_layout(bargap=0.1)
fig.show()

In [ ]:
charges_sex_fig = px.histogram(medical_df, 
                   x='charges', 
                   marginal='box', 
                   color='sex', 
                   color_discrete_sequence=['blue', 'pink'], 
                   title='Charges wrt Sex')
charges_sex_fig.update_layout(bargap=0.1)
charges_sex_fig.show()

In [ ]:
charges_reg_fig = px.histogram(medical_df, 
                   x='charges', 
                   marginal='box', 
                   color='region', 
                   # color_discrete_sequence=['blue', 'pink'], 
                   title='Charges wrt Region')
charges_reg_fig.update_layout(bargap=0.1)
charges_reg_fig.show()

In [ ]:
medical_df.smoker.value_counts()

In [ ]:
px.histogram(
    medical_df,
    x = 'smoker',
    color = 'sex',
    title = 'Smoker'
)

In [ ]:
medical_df.info()

In [ ]:
medical_df.children.value_counts()
px.histogram(
    medical_df,
    x = 'charges',
    color = 'children',
    title = 'Charges wrt children'
).update_layout(bargap = 0.1)

In [ ]:
fig = px.scatter(medical_df, 
                 x='bmi', 
                 y='charges', 
                 color='smoker', 
                 opacity=0.8, 
                 hover_data=['sex'], 
                 title='BMI vs. Charges')
fig.update_traces(marker_size=5)
fig.show()

In [ ]:
# Correlation

medical_df.info()
smoker_values = {"yes": 1, "no": 0}
smoker_numeric = medical_df.smoker.map(smoker_values)

In [ ]:
medical_df.charges.corr(medical_df.age)

In [ ]:
non_smoker_df = medical_df[medical_df.smoker == "no"]
non_smoker_df

plt.title("Charges vs. Non smokers age")
sns.scatterplot(data = non_smoker_df, x = 'age', y = 'charges', alpha = 0.7, s = 15)

In [ ]:
def estimate_charges(age, w, b):
    return w * age + b

In [ ]:
ages = non_smoker_df.age
estimated_charges = estimate_charges(ages, w = 50, b = 100)

plt.plot(ages, estimated_charges, 'r-o')
plt.xlabel("Age")
plt.ylabel("Charges")

In [ ]:
target = non_smoker_df.charges

# plt.plot(ages, estimated_charges, 'r', alpha=0.9)
# plt.scatter(ages, target, s=8,alpha=0.8)
# plt.xlabel('Age')
# plt.ylabel('Charges')
# plt.legend(['Estimate', 'Actual'])

In [ ]:
def try_params(w, b):
    ages = non_smoker_df.age
    charges = non_smoker_df.charges

    est_charges = estimate_charges(ages, w, b)

    plt.plot(ages, est_charges, 'r', alpha=0.9)
    plt.scatter(ages, target, s=8,alpha=0.8)
    plt.xlabel('Age')
    plt.ylabel('Charges')
    plt.legend(['Estimate', 'Actual'])

try_params(400, 5000)

In [ ]:
def rmse(targets, predictions):
    return np.sqrt(np.mean(np.square(predictions - targets)))

def try_params(w, b):
    ages = non_smoker_df.age
    charges = non_smoker_df.charges

    est_charges = estimate_charges(ages, w, b)

    plt.plot(ages, est_charges, 'r', alpha=0.9)
    plt.scatter(ages, target, s=8,alpha=0.8)
    plt.xlabel('Age')
    plt.ylabel('Charges')
    plt.legend(['Estimate', 'Actual'])

    loss = rmse(charges, est_charges)
    print(f"Root mean squared error is {loss}")

In [ ]:
def rmse(targets, predictions):
    return np.sqrt(np.mean(np.square(predictions - targets)))

def try_params(w, b):
    ages = non_smoker_df.age
    charges = non_smoker_df.charges

    est_charges = estimate_charges(ages, w, b)

    plt.plot(ages, est_charges, 'r', alpha=0.9)
    plt.scatter(ages, target, s=8,alpha=0.8)
    plt.xlabel('Age')
    plt.ylabel('Charges')
    plt.legend(['Estimate', 'Actual'])

    loss = rmse(charges, est_charges)
    print(f"Root mean squared error is {loss}")

In [ ]:
try_params(300, 1)

## Scikit Learn

### Linear Regression

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
model = LinearRegression()

help(model.fit)

In [ ]:
non_smoker_df = medical_df[medical_df.smoker == 'no']

In [ ]:
inputs = non_smoker_df[['age']]
targets = non_smoker_df.charges

print(inputs.shape)
print(targets.shape)

In [ ]:
model.fit(inputs, targets)
model.predict(np.array([
    [23],
    [56],
    [19]
]))

In [ ]:
predictions = model.predict(inputs)

rmse(targets, predictions)

In [ ]:
plt.plot(inputs, targets, 'o')

In [ ]:
plt.plot(inputs, predictions, 'o')

In [ ]:
model.coef_, model.intercept_

In [ ]:
try_params(model.coef_, model.intercept_)

### SGD

In [ ]:
from sklearn.linear_model import SGDRegressor

In [ ]:
sgd_model = SGDRegressor()

sgd_model.fit(inputs, targets)

In [ ]:
sgd_model.predict(inputs)
try_params(sgd_model.coef_, sgd_model.intercept_)

### Self

In [ ]:
smoker_df = medical_df[medical_df.smoker == 'yes']

inputs = smoker_df[['age']]
targets = smoker_df.charges

inputs.shape, targets.shape

In [ ]:
def rmse(targets, predictions):
    return np.sqrt(np.mean(np.square(predictions - targets)))

def visualise_predictions(inputs, targets, predictions):
    print(f"RMSE: {rmse(targets, predictions)}")
    plt.plot(inputs, predictions, 'r', alpha=0.9)
    plt.scatter(inputs, targets, s=8,alpha=0.8)
    plt.xlabel('Age')
    plt.ylabel('Charges')
    plt.legend(['Estimate', 'Actual'])

In [ ]:
# Training using LR

model.fit(inputs, targets)

predictions = model.predict(inputs)

In [ ]:
visualise_predictions(inputs, targets, predictions)

In [ ]:
inputs, targets

In [ ]:
# Training SGD

sgd_model = SGDRegressor()

sgd_model.fit(inputs, targets)
predictions = sgd_model.predict(inputs)
print(sgd_model.coef_, sgd_model.intercept_)

visualise_predictions(inputs, targets, predictions)

**ML Training**: Process of finding the most apt params so as to model a relnship b/w the inputs and targets

3 components:
- Model
- Loss function
- Optimizer

### More params

In [ ]:
inputs, targets = non_smoker_df[['age', 'bmi']], non_smoker_df.charges

inputs.shape, targets.shape

In [ ]:
lr_model = LinearRegression()

lr_model.fit(inputs, targets)

predictions = lr_model.predict(inputs)

rmse(targets, predictions)

In [ ]:
# For 3D Scatter

# fig = px.scatter_3d(non_smoker_df, x='age', y='bmi', z='charges')
# fig.update_traces(marker_size=3, marker_opacity=0.5)
# fig.show()

- You can't find a relationship that doesn't exist, no matter what machine learning technique or optimization algorithm you apply

In [ ]:
inputs = non_smoker_df[['bmi']]
targets = non_smoker_df.charges

lr_model = LinearRegression().fit(inputs, targets)

predictions = lr_model.predict(inputs)

visualise_predictions(inputs, targets, predictions)

In [ ]:
fig = px.strip(non_smoker_df, x='children', y='charges', title= "Children vs. Charges")
fig.update_traces(marker_size=4, marker_opacity=0.7)
fig.show()

In [ ]:
non_smoker_df.charges.corr(non_smoker_df.children)

### Categorical Features

In [ ]:
smoker_codes = {'yes': 1, 'no': 0}
sex_codes = {"male": 0, "female": 1}

medical_df['smoker_code'] = medical_df.smoker.map(smoker_codes)
medical_df['sex_code'] = medical_df.sex.map(sex_codes)
# medical_df.charges.corr(medical_df.smoker_code)

In [ ]:
from sklearn import preprocessing

encoder = preprocessing.OneHotEncoder()
encoder.fit(medical_df[['region']])
encoder.categories_

In [ ]:
region_codes = encoder.transform(medical_df[['region']]).toarray()
medical_df[['northeast', 'northwest', 'southeast', 'southwest']] = region_codes

In [ ]:
medical_df

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
lr_model = LinearRegression()

input_cols = ['age', 'sex_code', 'bmi', 'children', 'smoker_code', 'northeast', 'northwest', 'southeast', 'southwest']
inputs = medical_df[input_cols]
targets = medical_df[['charges']]

lr_model.fit(inputs, targets)

lr_model.coef_

In [ ]:
weights_df = pd.DataFrame({
    'fields': np.append(input_cols, 1),
    'weights': np.append(lr_model.coef_, lr_model.intercept_)
})

weights_df

In [ ]:
scaler = preprocessing.StandardScaler()

numeric_cols = ['age', 'bmi', 'children']
scaler.fit(medical_df[numeric_cols])

scaled_data = scaler.transform(medical_df[numeric_cols])
scaled_data

In [ ]:
medical_df.info()

In [ ]:
cat_cols = ['smoker_code', 'sex_code', 'northeast', 'northwest', 'southeast', 'southwest']
cat_data = medical_df[cat_cols]

In [ ]:
# After processsing, that is, scaling and categorising inputs, we have

inputs = np.concatenate((scaled_data, cat_data), axis = 1)
targets = medical_df['charges']

lr_model.fit(inputs, targets)

In [ ]:
weight_analysis_df = pd.DataFrame({
    'field': np.append(numeric_cols + cat_cols, 1),
    'weight': np.append(lr_model.coef_, lr_model.intercept_)
})

weight_analysis_df

The most important factors thus are smoker, age, bmi

### Test Set

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
medical_df = pd.read_csv("medical.csv")

inputs_train, inputs_test, targets_train, targets_test = train_test_split(inputs, targets, test_size=0.1)

targets_test

### Ocean Data

In [1]:
from urllib.request import urlretrieve
import pandas as pd
import numpy as np
import plotly.express as px
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [5]:
from sklearn.linear_model import LinearRegression
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

In [ ]:
ocean_df  = pd.read_csv(r'./datasets/bottle.csv')
ocean_df

In [8]:
ocean_df.describe()

,Cst_Cnt,Btl_Cnt,Depthm,T_degC,Salnty,O2ml_L,STheta,O2Sat,Oxy_µmol/Kg,BtlNum,...,R_CHLA,R_PHAEO,R_PRES,R_SAMP,DIC1,DIC2,TA1,TA2,pH2,pH1
count,864863.000000,864863.000000,864863.000000,853900.000000,817509.000000,696201.000000,812174.000000,661274.000000,661268.000000,118667.000000,...,225276.000000,225275.000000,864863.000000,122006.000000,1999.000000,224.000000,2084.000000,234.000000,10.000000,84.000000
mean,17138.790958,432432.000000,226.831951,10.799677,33.840350,3.392468,25.819394,57.103779,148.808694,10.497426,...,0.450225,0.198599,228.395694,162.071521,2153.239714,2168.148330,2256.055845,2278.858803,7.948570,7.910983
std,10240.949817,249664.587269,316.050259,4.243825,0.461843,2.073256,1.167787,37.094137,90.187533,6.189688,...,1.208566,0.376539,319.456731,85.722796,112.995202,154.852332,34.844435,58.496495,0.021216,0.077666
min,1.000000,1.000000,0.000000,1.440000,28.431000,-0.010000,20.934000,-0.100000,-0.434900,0.000000,...,-0.010000,-3.890000,0.000000,0.000000,1948.850000,1969.440000,2181.570000,2198.150000,7.923100,7.618300
25%,8269.000000,216216.500000,46.000000,7.680000,33.488000,1.360000,24.965000,21.100000,60.915470,5.000000,...,0.050000,0.050000,46.000000,200.000000,2028.330000,2008.977500,2230.322500,2229.062500,7.931475,7.898675
50%,16848.000000,432432.000000,125.000000,10.060000,33.863000,3.440000,25.996000,54.400000,151.064150,10.000000,...,0.160000,0.110000,126.000000,206.000000,2170.640000,2265.885000,2244.325000,2247.505000,7.946650,7.928850
75%,26557.000000,648647.500000,300.000000,13.880000,34.196900,5.500000,26.646000,97.600000,240.379600,16.000000,...,0.390000,0.230000,302.000000,214.000000,2253.810000,2315.525000,2278.505000,2316.452500,7.963300,7.955100
max,34404.000000,864863.000000,5351.000000,31.140000,37.034000,11.130000,250.784000,214.100000,485.701800,25.000000,...,66.110000,65.300000,5458.000000,424.000000,2367.800000,2364.420000,2434.900000,2437.000000,7.988300,8.047700

In [21]:
# For temp prediction

ocean_df = ocean_df[['Depthm', 'Salnty', 'T_degC']]
ocean_df.head()

   Depthm  Salnty  T_degC
0       0  33.440   10.50
1       8  33.440   10.46
2      10  33.437   10.46
3      19  33.420   10.45
4      20  33.421   10.45

In [ ]:
px.histogram(
    ocean_df,
    x = 'T_degC',
    title = "Temp Analysis"
).update_layout(bargap = 0.1)

In [ ]:
px.histogram(
    ocean_df,
    x = 'T_degC',
    color = 'Depthm',
    title = "Temp Analysis"
).update_layout(bargap = 0.1)

In [22]:
temp_wrt_depth = ocean_df.T_degC.corr(ocean_df.Depthm)
temp_wrt_salinity = ocean_df.T_degC.corr(ocean_df.Salnty)

print(temp_wrt_depth, temp_wrt_salinity)

-0.6812014451784366 -0.5052659661915732

Both Depth and Salinity are **strongly inversely proportional** to the temperature

Cleaning of data to remove **NULL** values

In [24]:
imputer = SimpleImputer()

imputed_arr = imputer.fit_transform(ocean_df)

ocean_df = pd.DataFrame(imputed_arr, columns = ocean_df.columns)
ocean_df.head()

   Depthm  Salnty  T_degC
0     0.0  33.440   10.50
1     8.0  33.440   10.46
2    10.0  33.437   10.46
3    19.0  33.420   10.45
4    20.0  33.421   10.45

In [ ]:
# For checking if the null values are removed

# test_df = pd.DataFrame(ocean_df, columns = ['Depthm', 'Salnty', 'T_degC'])
# test_df[['T_degC']].isnull().sum()

In [25]:
scaler = preprocessing.StandardScaler()

numeric_cols = ['Depthm', 'Salnty']
scaler.fit(ocean_df[numeric_cols])

scaled_data = scaler.transform(ocean_df[numeric_cols])
inputs = scaled_data
targets = ocean_df[['T_degC']]

In [26]:
inputs_train, inputs_test, targets_train, targets_test = train_test_split(inputs, targets, test_size = 0.2)

inputs_train.shape, inputs_test.shape

((691890, 2), (172973, 2))

In [28]:
def rmse(targets, predictions):
    return np.sqrt(np.mean(np.square(predictions - targets)))

In [37]:
lr_model = LinearRegression()

lr_model.fit(inputs_train, targets_train)
# lr_model.coef_, lr_model.intercept_

predict_training = lr_model.predict(inputs_train)
# print(rmse(predict_training, targets_train))

print(predict_training.shape, inputs_train.shape)

(691890, 1) (691890, 2)

In [32]:
predict_test = lr_model.predict(inputs_test)
print(rmse(predict_test, targets_test))

3.041628759513971